@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.font-home-video-bold {
  font-family: "roboto", sans-serif;
  /* text-shadow: 2px 2px 2px #ffffff; X-offset, Y-offset, blur-radius, color */
}

.vertical-video {
  /* 9:16 portrait */
    aspect-ratio: 9 / 16;
    width: 100%;
    /* optional, limits size on desktop */
    margin: 0 0;
    overflow: hidden;
    /* optional */
}

.vertical-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* crop to fill vertical frame */
  display: block;
}