@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@font-face {
  font-family: 'HomeVideo';
  src: url('../assets/fonts/home-video-font/HomeVideo-BLG6G.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'HomeVideoBold';
  src: url('../assets/fonts/home-video-font/HomeVideoBold-R90Dv.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Blade';
  src: url('../assets/fonts/BLADRMF_.TTF') format('truetype');
  font-weight: normal;
}


.font-home-video {
  font-family: 'Blade', sans-serif;
  text-shadow: 1px 1px 1px #ffffff;
}

.font-home-video-bold {
  font-family: 'Blade', sans-serif;
  text-shadow: 2px 2px 2px #ffffff; /* X-offset, Y-offset, blur-radius, color */
}