@import "tailwindcss";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@font-face {
  font-family: 'Blade';
  src: url('./assets/fonts/BLADRMF_.TTF') format('truetype');
  font-weight: normal;
}
:root {
  font-family: "Blade" !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #191a1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}
