@import "tailwindcss";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@font-face {
  font-family: 'HomeVideo';
  src: url('./assets/fonts/HomeVideo-BLG6G.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'HomeVideoBold';
  src: url('./assets/fonts/HomeVideoBold-R90Dv.ttf') format('truetype');
  font-weight: bold;
}

.font-home-video {
  font-family: 'HomeVideo', sans-serif;
}

.font-home-video-bold {
  font-family: 'HomeVideoBold', sans-serif;
}
:root {
  /* font-family: "Roboto"; */
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  background-color: #191a1b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
